body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Using Roboto as a professional font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace; /* A monospace font for code */
}